<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="ApiUrl" value="https://localhost:44315/api"/>
    <add key="ResourceUrl" value="/Service/Fibonacci"/>
    <add key="Query" value="?n=10"/>
  </appSettings>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value=".\log\LemonWayTest.Consumer.log" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value=".yyyy-MM-dd'.log'" />
      <maximumFileSize value="20MB" />
      <maxSizeRollBackups value="10" />
      <staticLogFileName value="true" />
      <countDirection value="1" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="[START] " />
        <conversionPattern value="%date|%-5level|%message%newline" />
        <footer value="[END]  " />
      </layout>
    </appender>
    <appender name="ColoredConsole" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="White" />
        <backColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Blue" />
        <backColor value="Yellow" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="White" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="Yellow" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ERROR" />
      <appender-ref ref="RollingFile" />
      <appender-ref ref="ColoredConsole" />
      <level value="WARN" />
      <appender-ref ref="RollingFile" />
      <appender-ref ref="ColoredConsole" />
      <level value="INFO" />
      <appender-ref ref="RollingFile" />
      <appender-ref ref="ColoredConsole" />
      <level value="DEBUG" />
      <appender-ref ref="RollingFile" />
      <appender-ref ref="ColoredConsole" />
    </root>
  </log4net>
</configuration>